version: "3.9"

services:
  web:
    build:
      context: /hnwweb
      dockerfile: Dockerfile
      args:
        NODE_VERSION: "20-alpine"
    image: nextjs-app:latest
    #container_name: nextjs-web       # Comment this to scale out the container.
    environment:
      NODE_ENV: production
      PORT: 3000
      # HOSTNAME: 0.0.0.0  # usually not required
    expose:
      - "3000"  # expose only to the internal network
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "wget", "-qO-", "http://localhost:3000/"]
      interval: 15s
      timeout: 5s
      retries: 5
    networks:
      - app-net

  nginx:
    build:
      context: /ngnix   # points at the nginx Dockerfile directory
    image: nextjs-nginx:latest
    container_name: reverse-proxy
    depends_on:
      - web
    ports:
      - "80:80"
      # - "443:443"
    restart: unless-stopped
    networks:
      - app-net

networks:
  app-net:
    driver: bridge